.main
  .main-header
    .main-items
      .main-items__name
        = @group.name
      .main-items__group
        Member：
        .main-items__group--list
          - @group.users.each do |user|
            = user.name
    .main-edit
      = link_to "Edit", edit_group_path(@group), class: "main-edit__link"
  .main-message
    = render @messages

  .main-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: 'type a message'
        = f.label :image, class: "input-box__image" do
          = icon('far', 'image')
          = f.file_field :image, class: "input-box__image--file"
      = f.submit 'Send', class: "input-submit"
