.side
  .side-header
    .side-items
      .side-items__name
        = current_user.name
      .side-items__icon
        = link_to new_group_path, class: "side-btn" do
          = icon('fa', 'edit', class: "side-btn__icon")
        = link_to edit_user_path(current_user), class: "side-btn" do
          = icon('fa', 'cog', class: "side-btn__icon")
  .side-groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "group-link" do
          .group-link__group-name
            = group.name
            .group-link__group-message
              = group.show_last_message